:root {
    --accent: #ffd700;
    --primary: #0e3c18;
    --on-primary: #4cbf6a;
    --secondary: #ffffff;
    --red: #ff0000;
    --black: #000000;
    --modal: #0f3e19a6;
    --input: #f5f5f5;
    --chart-background: #bbffcd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
}

body{
    padding: 30px;
}

header{
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
    user-select: none;
}

header nav .tab{
    color: var(--on-primary);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
}

header nav .tab:hover{
    background: #f5f5f5;
}

header nav .tab.active{
    background: var(--primary);
    color: var(--secondary);
}

header nav .tab .fas{
    display: inline-block;
    margin-right: 10px;
}

header nav .right-icon{
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--on-primary);
    color: var(--primary);
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

header nav .right-icon.notice{
    margin-right: 20px;
}

.notice-counter{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--red);
    color: var(--secondary);
    right: -10px;
    top: -10px;
}

main{
    height: 80vh;
    overflow-y: scroll;
}

main::-webkit-scrollbar{
    width: 0;
}

.dashboard, .market, .trade{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: 20px 0;
}

.wallet{
    border-radius: 10px;
    background: linear-gradient(135deg, var(--on-primary), var(--primary));
    padding: 20px;
}

.wallet b{
    color: var(--secondary);
    display: block;
}

.balance{
    font-size: 40px;
    color: var(--secondary);
    margin: 10px 0;
}

.action-btn{
    display: flex;
    align-items: center;
}

.action-btn button{
    padding: 7px 15px;
    margin-right: 10px;
    color: var(--primary);
    border-radius: 20px;
    background: var(--accent);
    cursor: pointer;
    font-size: 16px;
}

.action-btn button .fas{
    display: inline-block;
    margin-right: 5px;
}

.summary-con{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.summary{
    border-radius: 10px;
    border: 1px solid #efefef;
    padding: 20px;
    display: flex;
    align-items: center;
}

.summary .fas{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.summary .fa-arrow-trend-up{
    color: var(--on-primary);
}

.summary .fa-arrow-trend-down{
    color: var(--red);
}

.percent-profit{
    color: var(--on-primary);
}

.percent-loss{
    color: var(--red);
}

h2{
    color: var(--primary);
    margin: 10px 0;
}

.trans-history li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.trans-history li .wrap{
    display: flex;
    align-items: center;
}

.trans-history li .fas{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--secondary);
    background: var(--primary);
    margin-right: 10px;
}

.trans-history li b{
    display: block;
}

.trans-history li small{
    color: #6c6c6c;
}

.left-section .wrap{
    display: flex;
    align-items: center;
}

.left-section .wrap div{
    margin-right: 20px;
}

.left-section .wrap small{
    color: #6c6c6c;
    font-weight: 600;
}

.left-section .wrap b{
    display: block;
}

.market-price-percent{
    color: var(--red);
}

.market-price-percent .fas{
    display: inline-block;
    margin-right: 10px;
}

.chart{
    height: 300px;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.price-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.price-list li b{
    display: block;
}

.price-list li span{
    color: var(--on-primary);
}

.price-list p .fas{
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
}

.price-list .decrease{
    color: var(--red);
}

.price-list .increase{
    color: var(--on-primary);
}

/*-------MARKET SECTION---------*/

.market-news-list{
    max-height: 80vh;
    overflow-y: scroll;
}
.market-news-list::-webkit-scrollbar {
     width: 0;
 }

 .market-news-list li{
    display: flex;
    align-items: center;
 }

 .image{
    max-width: 150px;
    max-height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
 }

 .market-info strong{
    display: block;
 }

 .market-info .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
 }

 .market-info .source{
    color: var(--on-primary);
    text-decoration: none;
 }

 .market-info .time{
    color: #909090;
 }

 /*-----------TRADE SECTION---------------*/
 .order-book-and-market-pair{
    max-height: 80vh;
    overflow-y: scroll;
 }

 .order-book-and-market-pair::-webkit-scrollbar{
    width: 0;
 }
.market-pair-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.buy-con b{
    color: var(--on-primary);
}
.sell-con b{
    color: var(--red);
}

.buy-con .coin-wrap, .sell-con .coin-wrap{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin: 10px 0;
}

.buy-con .coin-wrap small, .sell-con .coin-wrap small, .order-book-list small{
    display: block;
    color: #6c6c6c;
    margin: 5px 0;
}

.buy-con .coin-wrap img, .sell-con .coin-wrap img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}

.sell-con .divider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sell-con .divider small{
    display: block;
    color: #6c6c6c;
    margin: unset;
}

.sell-con .divider span{
    color: var(--on-primary);
}


.order-book-list li{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px 0;
}

.order-book-list li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 10px;
}

.top-divider, .middle-divider{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-divider .fas, .notification-head .fas{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #f5f5f5;
    cursor: pointer;
    margin-bottom: 10px;
}

.top-divider .fas:hover{
    background: #d7d7d7;
}

.order-wrap, .pair-wrap{
   width: 100%;
}

.middle-divider span{
    color: #6c6c6c;
    display: inline-block;
}

.middle-divider .date{
    margin-right: 20px;
}


.notification{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background: var(--secondary);
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 10;
    min-width: 250px;
    display: none;
    transition: .3s all;
}

.notification.active{
    display: block;
    top: 15%;
}

.notification-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-head h3{
    color: var(--primary);
}

.notification-con li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    user-select: none;
    cursor: pointer;
}

.notification-con li:active{
    background: #bcffce;
}

.notification-con li:not(:last-child){
    border-bottom: 1px solid #efefef;
}

.notification-con li .fas{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b6ffca;
    color: var(--primary);
    border-radius: 50%;
    font-size: 12px;
}

.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background: var(--modal);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.modal.active{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fund-con{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background: var(--secondary);
}

.withdrawal-con{
    min-width: 300px;
}

.passcode-wrap{
    background: var(--input);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}


.passcode-wrap .fas{
    display: inline-flex;
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #7c7c7c;
}

.fund-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fund-head .fas{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--input);
    cursor: pointer;
}

.divide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.fund-con .icons img{
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.fund-con .asset{
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: var(--secondary);
    cursor: pointer;
}

.fund-con .asset.active{
    background: #FFF4B7;
}

.fund-con .asset img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.middle-divide{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-divide span{
    color: var(--on-primary);
}

.middle-divide small{
    display: inline-block;
    margin-left: 20px;
}

.fund-con input, .divide select{
    display: block;
    width: 100%;
    border-radius: 5px;
    background: var(--input);
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.fund-con label{
    display: block;
}

.fund-con button{
    display: block;
    padding: 10px;
    border-radius: 10px;
    background: var(--accent);
    color: var(--primary);
    width: 100%;
    font-size: 16px;
    font-size: 600;
    cursor: pointer;
}

.passcode-wrap input {
    margin: unset;
}